/*
    Copyright 2015 Brecht Baeten
    This file is part of KNXControl.

    KNXControl is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    KNXControl is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with KNXControl.  If not, see <http://www.gnu.org/licenses/>.
*/

/*****************************************************************************/
/*                     Light switch                                          */
/*****************************************************************************/
div[data-role="lightswitch"]{
	display: inline-block;
	position: relative;
	height: 50px;
	width: 49%;
	min-width: 200px;
	text-align: left;
	float: left;
}

/*****************************************************************************/
/*                     Light dimmer                                          */
/*****************************************************************************/
div[data-role="lightdimmer"]{
	display: inline-block;
	position: relative;
	height: 60px;
	width: 98%;
	text-align: left;
}
div[data-role="lightdimmer"] div[data-role="toggleswitch"]{
	height: 50px;
	vertical-align: middle;
	float: left;
}
div[data-role="lightdimmer"] p{
	position: absolute;
	margin-left: 54px;
	margin-top: 5px;
	font-weight: 700;
}
div[data-role="lightdimmer"] .ui-slider{
	margin-left: 64px;
	margin-right: 64px;
	margin-top: 25px;
	margin-bottom: 0;
}
div[data-role="lightdimmer"] .ui-slider-track{
	margin-left: 0;
	margin-right: 0;
}
div[data-role="lightdimmer"] .ui-slider input{
	visibility: hidden;
}


/*****************************************************************************/
/*                     Shading                                               */
/*****************************************************************************/
div[data-role="shading"]{
	display: inline-block;
	position: relative;
	height: 70px;
	width: 98%;
	text-align: left;
}
div[data-role="shading"][data-advanced="true"]{
	height: 100px;
}
div[data-role="shading"] img{
	height: 50px;
	margin-top: 10px;
	vertical-align: middle;
	float: left;
}
div[data-role="shading"] .close img{
	float: right;
}
div[data-role="shading"] p{
	position: absolute;
	margin-left: 54px;
	margin-top: 5px;
	font-weight: 700;
}
div[data-role="shading"] .ui-slider{
	margin-left: 64px;
	margin-right: 64px;
	margin-top: 25px;
	margin-bottom: 0;
}
div[data-role="shading"] .ui-slider-track{
	margin-left: 0;
	margin-right: 0;
}
div[data-role="shading"] .ui-slider input{
	visibility: hidden;
	width: 0;
}
div[data-role="shading"] a.edit_widget{
	position: absolute;
    top: -10px;
	right: 50px;
}
div[data-role="shading"] div.advanced{
	position: absolute;
	width: 100%;
    bottom: 0px;
	left: 0px;
}

/*****************************************************************************/
/*                     Alarm                                                 */
/*****************************************************************************/
div[data-role="alarm"]{
	width: 98%;
	text-align: left;
}
div[data-role="alarm"] div.alarm{
	position: relative; 
	margin-bottom: 5px;
	padding: 5px;
}
div[data-role="alarm"] input[type="time"]{
	font-size: 2.5em;
	padding: 0 !important;
}
div[data-role="alarm"] div.ui-input-text{
	width: 14.5em;
}
div[data-role="alarm"] div.ui-input-text input{
	min-height: 0 !important;
}
div[data-role="alarm"] a.delete{
	position: absolute; 
	top: 0;
	right: 0;
	margin: 5px;
}
div[data-role="alarm"] label{
	padding-left: 8px;
	padding-right: 8px;
}

/*****************************************************************************/
/*                     Weather block                                       */
/*****************************************************************************/
div[data-role="weather_block"]{
	position: relative;
	display: inline-block;
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
div[data-role="weather_block"] img{
	width: 90%;
	max-width: 300px;
	margin-top: -10px;
	margin-bottom: -10px;
}
div[data-role="weather_block"] div{
	height: 20px;
}
div[data-role="weather_block"] div[data-field="date"]{
	height: 0;
}
div[data-role="weather_block"].mini{
	width: 20%;
	min-width: 75px;
	max-width: 150px;
	margin-left: 0;
	margin-right: 0;
	font-size: 0.9em;
}
div[data-role="weather_block"].mini img{
	width: 100%;
	margin-bottom: -10px;
}
div[data-role="weather_block"].mini div{
	height: 15px;
}

/******************************************************************************/
/*                     measurementchart                                       */
/******************************************************************************/
div[data-role="measurementchart"]{
	width: 98%;
	position: relative;
	margin-bottom: 5px;
}

/*****************************************************************************/
/*                     Ventilation control                                   */
/*****************************************************************************/
div[data-role="ventilation_control"]{
	display: inline-block;
	position: relative;
	width: 98%;
	text-align: left;
}
div[data-role="ventilation_control"] p{
	position: relative;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 0;
	font-weight: 700;
}
div[data-role="ventilation_control"] div.speedcontrol{
	display: inline-block;
}
div[data-role="ventilation_control"] img{
	height: 50px;
	vertical-align: middle;
	float: left;
}
div[data-role="ventilation_control"] a.auto img{
	margin-right: 50px;
}











/*****************************************************************************/
/*                     Action list                                           */
/*****************************************************************************/
div[data-role="action_list"]{
	width: 98%;
	text-align: left;
}
div[data-role="action_list"] div.action{
	position: relative;
	margin: 0;
}
div[data-role="action_list"] a.delete{
	position: absolute; 
	top: 0;
	right: 0;
	margin: 1px;
}
div[data-role="action_list"] a.edit{
	position: absolute; 
	top: 0;
	right: 50px;
	margin: 1px;
}
div[data-role="action_list"] div.action div{
	font-weight: 600;
	padding: 6px;
	width: 70%;
	border-bottom: 1px solid #222;
}

/* action definition popup */
#action_def_popup .ui-field-contain{
	border: 0;
}
#action_def_popup .ui-grid-b{
	width: 100%;
}
#action_def_popup .ui-block-a{
	width: 15%; 
}
#action_def_popup .ui-block-b{
	width: 69%
}
#action_def_popup .ui-block-c{
	width: 15%
}

/*****************************************************************************/
/*                     Measurement list                                      */
/*****************************************************************************/
div[data-role="measurement_list"]{
	width: 98%;
	text-align: left;
}
div[data-role="measurement_list"] div.measurement{
	position: relative;
	margin: 0;
}
div[data-role="measurement_list"] a.delete{
	position: absolute; 
	top: 0;
	right: 0;
	margin: 1px;
}
div[data-role="measurement_list"] a.edit{
	position: absolute; 
	top: 0;
	right: 50px;
	margin: 1px;
}
div[data-role="measurement_list"] div.measurement div.id{
	display: inline-block;
	padding: 6px;
	width: 5%;
}
div[data-role="measurement_list"] div.measurement div.name{
	display: inline-block;
	font-weight: 600;
	padding: 6px;
	width: 60%;
	border-bottom: 1px solid #222;
}

/* action definition popup */
#measurement_def_popup-popup{
	width: 90%;
}
#measurement_def_popup .ui-field-contain{
	border: 0;
}

/*****************************************************************************/
/*                     Settings                                              */
/*****************************************************************************/
div[data-role="settings"]{
	width: 98%;
	text-align: left;
}

/*****************************************************************************/
/*                     Smarthome log                                         */
/*****************************************************************************/
div[data-role="smarthome_log"]{
	display: inline-block;
	position: relative;
	width: 98%;
	text-align: left;
}
div[data-role="smarthome_log"]>div{
	margin-bottom: 5px;
}
div[data-role="smarthome_log"] div.time{
	font-size: 0.7em;
	color: #bbb;
}
div[data-role="smarthome_log"] div.message{
	font-size: 0.9em;
	padding-left: 10px;
}

/*****************************************************************************/
/*                     Profile list                                          */
/*****************************************************************************/
div[data-role="profile_list"]{
	width: 98%;
	text-align: left;
}
div[data-role="profile_list"] div.profile{
	position: relative;
	margin: 0;
}
div[data-role="profile_list"] div.profile div.chart_container{
	display: inline-block;
	width: 100%;
	max-width: 300px;
	height: 100px;
	margin-right: 10px;
}
div[data-role="profile_list"] div.profile div.data{
	display: inline-block;
	width: 200px;
	height: 100px;
}
div[data-role="profile_list"] div.profile div.id{
	display: inline-block;
	padding: 6px;
	width: 100%;
}
div[data-role="profile_list"] div.measurement div.name{
	display: inline-block;
	font-weight: 600;
	padding: 6px;
	width: 100%;
}
div[data-role="profile_list"] div.profile a.edit{
	display: inline-block;
/*
	position: absolute; 
	top: 0;
	right: 50px;
	margin: 1px;*/
}

/* profile definition popup */
#profile_def_popup-popup{
	width: 90%;
}
#profile_def_popup .ui-field-contain{
	border: 0;
}

/*****************************************************************************/
/*                     System identification                                 */
/*****************************************************************************/
div[data-role="system_identification"]{
	width: 98%;
	position: relative;
	text-align: left;
}
div[data-role="system_identification"] div.buttons{
	display: inline-block;
	width: 100%;
}
div[data-role="system_identification"] div.chart_container{
	display: inline-block;
	width: 100%;
}
