



/*****************************************************************************/
/*                     Header                                                */
/*****************************************************************************/
#header{
	height: 60px;
	z-index: 1002;
}
#header nav div{
	display: inline-block;
}
#header nav img{
	width: 50px;
	height: 50px;
}
#pagebuilder_import{
	display: none;
}
#menu_button{
	position: absolute;
	right: 10px;
}
@media all and (min-width: 800px) {
	#menu_button{
		visibility: hidden;
	}
}
@media all and (max-width: 500px) {
	#header .hide img{
		visibility: hidden;
		width: 0;
	}
}


/*****************************************************************************/
/*                     Menu panels                                           */
/*****************************************************************************/
.ui-panel{
	width: 300px;
	max-width: 100%;
}
.menupanel .ui-panel-inner {
    padding-top: 60px;
}
.menupanel nav{
    margin:0;
}
.menupanel a{
	overflow: visible;
	height: 20px;
}
.menupanel nav li a{
	height: 60px;
	padding-top: 0;
	padding-bottom: 0;
}
.menupanel nav li a img{
	height: 100%;
}
.menupanel nav li h1{
	margin-top: 20px;
}
.menupanel section>div>a{
	margin-top: 20px;
}
@media all and (min-width: 800px){
	.ui-panel{
		position: relative;
		width: 38%;
		visibility: visible;
		-webkit-backface-visibility: visible;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
	}
}

#rendermenu section{
	margin-left: -16px;
	margin-right: -16px;
}
#rendermenu section li.devider{
	height: 40px;
}
#rendermenu section li.devider a{
	height: 40px;
}
#rendermenu section li.devider h1{
	margin-top: 8px;
	margin-bottom: 8px;
}
#rendermenu a.add_page{
	margin-left: 16px;
	margin-right: 16px;
}
#renderpage section{
	position: relative;
}
/*****************************************************************************/
/*                     Popups                                                */
/*****************************************************************************/
#requestpopup{
	bottom: 20px;
}
#widget_def_popup div.options{
	display: inline-block;
	width: 84%;
}
#widget_def_popup div.move{
	display: inline-block;
	width: 14%;
	vertical-align: top;
}


/*****************************************************************************/
/*                     Content                                               */
/*****************************************************************************/
.ui-content header{
	position: relative;
}
.ui-content header img{
	position: relative;
	height: 60px;
	vertical-align: middle;
}
.ui-content header h1{
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
}
.ui-content header div.value{
	position: absolute;
	top: 10px;
	right: 10px;
	font-weight: 600;
}
.ui-content div.group{
	margin-bottom: 10px;
}


@media all and (min-width: 800px) {
	div [data-role="content"]{
		position: absolute;
		left: 38%;
		width: 58%;
	}
}
