/***************************************/
/*          Widgets                    */
/***************************************/
/*----------------------------------------------------------------------------------*/
/*   switch                                                                         */
/*----------------------------------------------------------------------------------*/
span.switch{
	display: inline-block;
	padding-top: 10px;
	width: 100%;
}
.switch a>img{
	width: 50px;
	height: 50px;
	vertical-align: middle;
	margin-right: 10px;
}
.switch a>div{
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 70px;
}
.switch a{
	color: #ffffff !important;
	font-size: 100% !important;
	font-weight: bold !important;
}
/* Small screen variation */
@media all and (max-width: 800px) {
	.switch a{
		font-size: 80% !important;
	}
}
/*----------------------------------------------------------------------------------*/
/* dimmer                                                                           */
/*----------------------------------------------------------------------------------*/
span.dimmer{
	display: inline-block;
	padding-top: 10px;
	width: 100%;
}
.dimmer>span.switch{
	float: left;
	width: 60px;
	padding-top: 2px;
}
.dimmer>p{
	margin-top: 2px;
	margin-bottom: 4px;
	font-weight: bold !important;
}
.dimmer .ui-slider{
	margin-top: 2px;
}
.dimmer input.ui-slider-input {
	display : none !important;
}
/* Small screen variation */
@media all and (max-width: 800px) {
	.dimmer p{
		font-size: 80% !important;
	}
}
/*----------------------------------------------------------------------------------*/
/* shade-control                                                                    */
/*----------------------------------------------------------------------------------*/
span.shading{
	display: inline-block;
	position: relative;
	padding-top: 10px;
	width: 100%;
}
.shading p{
	font-weight: bold !important;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}
.shading>a>img {
	width: 50px;
	height: 50px;
}
.shading>a{
	position: absolute;
	top: 25px;
}
.shading>a.left{
	left: 0px;
}
.shading>a.right{
	right: 0px;
}
.shading .ui-slider{
	margin-top: 2px;
	margin-left: 60px;
	margin-right: 60px;
}
.shading .ui-slider-track{
	margin-left: 15px;
}
.shading input.ui-slider-input {
	display: none !important;
}
/* Small screen variation */
@media all and (max-width: 800px) {
	.shading p{
		font-size: 80% !important;
	}
}
/*----------------------------------------------------------------------------------*/
/* button                                                                           */
/*----------------------------------------------------------------------------------*/
/*
a.ui-mini span{
	width: 100px;
}
*/
/*----------------------------------------------------------------------------------*/
/* alarm                                                                            */
/*----------------------------------------------------------------------------------*/
div.alarm a.delete img{
	float: right;
	margin-top: 20px;
	height: 30px;
}
div.alarm{
	position: relative;
	margin-bottom: 20px;
	margin-top: 10px;
}
.alarm div.ui-input-text {
	width: 170px;
	float: left;
}
.alarm input[type="time"]{
	font-size: 280%;
	padding: 0 !important;
}
.alarm h1{
	float: left;
	margin-top: 15px;
	margin-left: 5px;
}
.alarm div.days{
	clear: both;
}
@media all and (max-width: 600px) {
	.alarm div.ui-input-text{
		width: 150px;
	}
	.alarm input[type="time"]{
		font-size: 200%;
	}
	.alarm h1{
		margin-top: 5px;
	}
	.alarm  div.ui-controlgroup-controls{
		width: 100% !important;
	}
	.alarm  div.ui-controlgroup div.ui-checkbox{
		width:14% !important;
	}
	.alarm  div.ui-controlgroup span.ui-btn-inner{
		padding-left: 1px !important;
		padding-right: 1px !important;
	} 
}
/*----------------------------------------------------------------------------------*/
/* alarm action                                                                     */
/*----------------------------------------------------------------------------------*/
div.alarm_action a.delete img{
	float: right;
	margin-top: 20px;
	height: 30px;
}
div.alarm_action{
	position: relative;
	margin-bottom: 20px;
	margin-top: 10px;
}
.alarm_action input[data-column="name"] {
	display: inline-block !important;
	width: 200px !important;
}
.alarm_action input[data-column="sectionid"] {
	display: inline-block !important;
	width: 100px !important;
}

/*----------------------------------------------------------------------------------*/
/*     setpoint                                                                     */
/*----------------------------------------------------------------------------------*/
div.setpoint p{
	display: inline-block;
	font-size: 150%;
	margin-top: 9px;
	margin-bottom: 0px;
	vertical-align: top;
}
div.setpoint a.delete img{
	float: right;
	margin-top: 10px;
	height: 30px;
}
div.setpoint div.ui-select{
	display: inline-block;
	width: 100px;
	height: 40px;
}
div.setpoint div.ui-select a{
	margin-top: 0px;
	margin-bottom: 0px;
}
div.setpoint div.ui-input-text{
	display: inline-block;
	height: 40px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	padding: 0px;
	vertical-align: top;
}
.setpoint input[type="time"]{
	font-size: 150%;
	padding-left: 10px !important;
	padding-top: 2px !important;
}
.setpoint input[type="number"]{
	font-size: 150%;
	width: 60px;
	padding-left: 10px !important;
	padding-top: 4px !important;
}
div.setpoint_chart{
	width: 100%;
	height: 150px;
	margin-bottom: 10px;
}
@media all and (max-width: 600px) {
	.setpoint input[type="time"]{
		font-size: 100%;
		padding-top: 8px !important;
	}
	.setpoint input[type="number"]{
		font-size: 100%;
		padding-top: 8px !important;
	}
}
@media all and (max-width: 400px) {
	div.setpoint div.ui-input-text{
		margin-left: 0px;
	}
	div.setpoint div.ui-select{
		width: 80px;
	}
}

/*  weather forecast   */
/*---------------------*/
section.weerbericht{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
section.weerbericht>div{
	display: inline-block;
	width: 24%;
}
.weerbericht img{
	display: block;
	max-width: 100px;
	margin-left: auto;
	margin-right: auto;
}
.weerbericht p{
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
}
.weerbericht p.small{
	font-size: 80%;
}

/*        clock        */
/*---------------------*/
section.clock{
	width: 90%;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.clock  .hours, .clock  .minutes{
	position: relative;
	display: inline-block;
}
.clock  .bg{
	position: relative;
}
.clock  .nr{
	position: absolute;
	top: 0px;
	left: 8px;
}
.clock  hr{
	position: absolute;
	top: 40px;
	left: 6px;
	width: 86px;
}
.clock img{
	height: 100px;
	z-index:-1;
}
.clock p{
	margin-top: 0;
	margin-bottom: 0;
}

/*        weather        */
/*---------------------*/
section.lokaal_weer{
	width: 90%;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
section.lokaal_weer div{

}

/*        charts       */
/*---------------------*/
div.chart{
	width: 100%;
	height: 300px;
	margin-bottom: 10px;

}

/*----------------------------------------------------------------------------------*/
/*     setpoint                                                                     */
/*----------------------------------------------------------------------------------*/
div.measurements_define div.ui-input-text{
	display: inline-block;
	height: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
}
div.measurements_define input[data-column="id"]{
	width: 20px;
	padding-top: 4px;
}
div.measurements_define input[data-column="item"]{
	width: 220px;
	padding-top: 4px;
}
div.measurements_define input[data-column="name"]{
	width: 80px;
	padding-top: 4px;
}
div.measurements_define input[data-column="quantity"]{
	width: 60px;
	padding-top: 4px;
}
div.measurements_define input[data-column="unit"]{
	width: 30px;
	padding-top: 4px;
}
div.measurements_define input[data-column="description"]{
	width: 140px;
	padding-top: 4px;
}
